@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet');

:root{
    --black: #181722;
    --white: #f0f0f0;
}
*{
    font-family: 'roboto', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 2s linear;
}
html{
    font-size: 10px;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 15px;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: rgb(167, 96, 108);
    border-radius: 5rem;
}

.header{
    top: 0;right: 0;left: 0;
    background-color: rgb(240, 187, 196);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 5px;
    z-index: 999;
}
.header .logo{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.header .logo .fotologo img{
    height: 7rem;
}
.header .logo .logoName{
    color: var(--black);
    font-size: 20px;
    font-weight: bolder;
    margin-left: 25px;
}

.header .navbar a{
    font-size: 2rem;
    margin-right: 2px;
    color: var(--black);
    margin: 0 15px;
    padding: 10px 0;
    transition: color 0.3s;
    margin-bottom: 10px;
    padding-top: 20px;
}
.navbar{
    display: flex;
    align-items: center;
    margin-left: 450px;
}

.navbar a:hover{
    color: white;
}

.header .navbar a:hover{
    border-bottom: 1px solid var(--black);
    padding-bottom: 5px;
}
.icon{
    display: flex;
    align-items: center;
}
.icon i{
    margin-left: 2px;
    cursor: pointer;
    margin-right: 20px;
    color: var(--black);
    cursor: pointer;
}

.header .search{
    display: none;
    top: 100%;
    margin: 1px;
    background-color: transparent;
    width: 50%;
    right: 0;
    height: 45px;
    position: absolute;
}

.header .search input{
    width: 100%;
    height: 100%;
    font-size: 19px;
    background-color: white;
    color: var(--black);
    margin-left: 35px;
    border-radius: 10rem;
    padding: 0.5rem 1rem;
    box-shadow: var(--box-shadow);
}
.header .search.active{
    display: inline-block;
}
#menu-bar{
    display: none;   
}

.Beranda{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgba(238, 199, 205, 0.952);
}
.Beranda .berandakonten{
    width: 50%;
    float: center;
    text-align: center;
    padding: 4rem;
}
.Beranda .berandakonten h2{
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 7rem;
    color: var(--black);
    text-shadow: var(--box-shadow);
}

.Beranda .berandakonten p{
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 3rem;
}
.Beranda .berandakonten .home-btn{
    height: 6rem;
}
.Beranda .berandakonten .home-btn{
    font-size: 25px;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    border-radius: 20px;
    padding: 2px;
    cursor: pointer;
}
.Beranda .berandakonten .home-btn button:hover{
    font-size: 20px;
}

section{
    padding: 2rem 7%;
}
.heading{
    text-align: center;
    font-size: 12px;
    margin-bottom: 3rem;
    color: black;
    border: .1rem solid rgb(119, 58, 68);
}

.produk .row{
    margin-bottom: 4rem;
}
.produk .produk-row .box{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    text-align: center;
    padding: 50px;
    gap: 1.5rem;
    width: 50%;
}




/*media queries for web responsive*/
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar{
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: var(--white);
        z-index: 1;
    }
    .navbar .active{
        display: flex;
    }
    .icon{
        display: flex;
    }
    .icon i{
        margin-right: 1rem;
    }
    .header .navbar a{
        font-size: 18px;
    }
    
    .Beranda .berandakonten{
        margin-left: 0;
        width: 90%;
    }
}

@media (max-width:600px){
    html{
        font-size: 50%;
    }
}